<!-- <div id="top-nav" class="skin-1 fixed">
	<div class="brand">
		<span>MovieFinder</span>
	</div>
</div> -->

<aside class="fixed skin-1">	
	<div class="sidebar-inner scrollable-sidebar">
		<!-- <div class="user-block clearfix"> -->
		<div class="search-block">
			<div class="input-group">
				<input id="query" type="text" class="form-control input-sm" placeholder="type movie title...">
				<span class="input-group-btn">
					<button id="search-btn" class="btn btn-default btn-sm" type="button"><i class="fa fa-search"></i></button>
				</span>
			</div><!-- /input-group -->
			<button id="see-all" class="btn btn-default btn-sm" type="button">See All Options</button>
		</div><!-- /search-block -->
		<div class="data-block clearfix">
			<ul class="list-group">
				<a href="" id="rt-url" target="_blank"><img src="" id="poster" width="200"></a>
				<li class="list-group-item"><h2 id="title"></h2></li>
				<li class="list-group-item">
					Released:<h4 id="release_year"></h4>
					Actors:<h4 id="actors"></h4>
					Director(s):<h4 id="directors"></h4>
					Writer(s):<h4 id="writers"></h4>
				</li>
			</ul>
		</div>

	</div><!-- /sidebar-inner -->
</aside>

<div id="main-container">
	<div id='map'></div>
</div><!-- /main-container -->


